<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{/css/footer.css}">
    <title>Not Found</title>
</head>
<body>
<header th:replace="~{header-and-footer::Header}">
  <h1>Some header text</h1>
</header>
<main>
    <p class="warning">Oops, your data is not found.</p>
    <p class="error" th:text="${message}">Message</p>
    <p>
        <a th:href="@{/index}">Index</a>
    </p>
</main>
<footer th:replace="~{header-and-footer::footer}">
  Some footer text
</footer>
</body>
</html>
